{% extends 'base.html' %}
{% load static %}
{% block content %}
    <!-- Page Content -->
    <!-- Banner Starts Here -->
    <div class="banner header-text">
      <div class="owl-banner owl-carousel">
        <div class="banner-item-01">
          <div class="text-content">
            <h4>Best Offer</h4>
            <h2>New Arrivals On Sale</h2>
          </div>
        </div>
        <div class="banner-item-02">
          <div class="text-content">
            <h4>Flash Deals</h4>
            <h2>Get your best products</h2>
          </div>
        </div>
        <div class="banner-item-03">
          <div class="text-content">
            <h4>Last Minute</h4>
            <h2>Grab last minute deals</h2>
          </div>
        </div>
      </div>
    </div>
    <!-- Banner Ends Here -->

    <div class="latest-products">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <h2>concretes حديد تسليح </h2>
             
            </div>
          </div>
          <div class="col-md-4">
            <div class="product-item">
              <a href="#"><img src="{% static 'assets/images/1.jpg' %}" alt=""></a>
              <div class="down-content">
                <a href="#"><h4>حديد تسليح صلب 52 اطول</h4></a>
                <a href="#"><h4>concrete work solid 52 (lenghths) </h4></a>
                <h6>14,500 LE (TON)</h6>
           
                <ul class="stars">
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                </ul>
                <span>Reviews (24)</span>
                <div>
                  <input type="checkbox" id="scales" name="scales"
                         checked>
                  <label for="scales">select</label>
                  
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="product-item">
              <a href="#"><img src="{% static 'assets/images/2.jpg' %}" alt=""></a>
              <div class="down-content">
                <a href="#"><h4>37حديد تسليح صلب  </h4></a>
                          <a href="#"><h4>concrete work solid 37 (scroll) </h4></a>
                          <h6>14,500 LE (TON)</h6>
                <ul class="stars">
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                </ul>
                <span>Reviews (21)</span>
                <div>
                  <input type="checkbox" id="scales" name="scales"
                         checked>
                  <label for="scales">select</label>
                </div>
              </div>
            </div>
          </div>
         
        
     
        </div>
      </div>
    </div>
    <div class="latest-products">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <h2>cement اسمنت</h2>
             
            </div>
          </div>
          <div class="col-md-4">
            <div class="product-item">
              <a href="#"><img src="{% static 'assets/images/3.jpg' %}" alt=""></a>
              <div class="down-content">
                <a href="#"><h4>اسمنت بور ثلاندي عادي </h4></a>
                          <a href="#"><h4> cement proland packet </h4></a>
                          <h6>850LE(ton)</h6>
                <ul class="stars">
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                </ul>
                <span>Reviews (24)</span>
                <div>
                  <input type="checkbox" id="scales" name="scales"
                         checked>
                  <label for="scales">select</label>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="product-item">
              <a href="#"><img src="{% static 'assets/images/4.jpg' %}" alt=""></a>
              <div class="down-content">
                 <a href="#"><h4>اسمنت بور ثلاندي ابيض  </h4></a>
                          <a href="#"><h4> cement proland packet white </h4></a>
                          <h6>2500LE(ton)</h6>
                  
                <ul class="stars">
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                </ul>
                <span>Reviews (21)</span>
                <div>
                  <input type="checkbox" id="scales" name="scales"
                         checked>
                  <label for="scales">select</label>
                </div>
              </div>
            </div>
          </div>
         
        
     
        </div>
      </div>
    </div>
    <div class="latest-products">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <h2>bricks الطوب</h2>
             
            </div>
          </div>
          <div class="col-md-4">
            <div class="product-item">
              <a href="#"><img src="{% static 'assets/images/5.JPG' %}" alt=""></a>
              <div class="down-content">
                <a href="#"><h4>طوب اسمنتي مصمت </h4></a>
                          <a href="#"><h4> bricks solid cement </h4></a>
                          <h6>1050(1k bricks)</h6>
                <ul class="stars">
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star "></i></li>
                  <li><i class="fa fa-star"></i></li>
                </ul>
             
               <span>Reviews (24)</span>
               <div>
                <input type="checkbox" id="scales" name="scales"
                       checked>
                <label for="scales">select</label>
              </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="product-item">
              <a href="#"><img src="{% static 'assets/images/6.jpg' %}" style="width: 300px; height: 300px;" alt=""></a>
              <div class="down-content">
                 <a href="#"><h4>طوب وردي  </h4></a>
                          <a href="#"><h4> bricks rin IT </h4></a>
                          <h6>2060(1K bricks)</h6>
                  
                <ul class="stars">
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                </ul>
                
                <span>Reviews (21)</span>
                <div>
                  <input type="checkbox" id="scales" name="scales"
                         checked>
                  <label for="scales">select</label>
                </div>
              </div>
            </div>
          </div>
         
        
     
        </div>
      </div>
    </div>
    <div class="latest-products">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <h2>gypsam</h2>
             
            </div>
          </div>
          <div class="col-md-4">
            <div class="product-item">
              <a href="#"><img src="{% static 'assets/images/8.jpeg' %}" alt=""></a>
              <div class="down-content">
        
                          <a href="#"><h4> calcined to run gypsam </h4></a>
                          <h6>750(ton)</h6>
                <ul class="stars">
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star "></i></li>
                  <li><i class="fa fa-star"></i></li>
                </ul>
                <span>Reviews (24)</span>
                <div>
                  <input type="checkbox" id="scales" name="scales"
                         checked>
                  <label for="scales">select</label>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
          
          </div>
         
        
     
        </div>
      </div>
    </div>
    <div class="latest-products">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <h2>rocks</h2>
             
            </div>
          </div>
          <div class="col-md-4">
            <div class="product-item">
              <a href="#"><img src="{% static 'assets/images/9.jpeg' %}" alt=""></a>
              <div class="down-content">
        
                          <a href="#"><h4> normal rocks</h4></a>
                        
                          <h6> 120LE </h6>
                <ul class="stars">
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star "></i></li>
                  <li><i class="fa fa-star"></i></li>
                </ul>
                
                <span>Reviews (24)</span>
                <div>
                  <input type="checkbox" id="scales" name="scales"
                         checked>
                  <label for="scales">select</label>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
          
          </div>
         
        
     
        </div>
      </div>
    </div>
    <div class="latest-products">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <h2>ceramic flooring سيراميك</h2>
             
            </div>
          </div>
          <div class="col-md-4">
            <div class="product-item">
              <a href="#"><img src="{% static 'assets/images/10.jpeg' %}" alt=""></a>
              <div class="down-content">
                
                          <a href="#"><h4> ceramic wall  </h4></a>
                          <h6>25×65 60LE</h6>
                <ul class="stars">
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star "></i></li>
                  <li><i class="fa fa-star"></i></li>
                </ul>
                <span>Reviews (24)</span>
                <div>
                  <input type="checkbox" id="scales" name="scales"
                         checked>
                  <label for="scales">select</label>
                </div>
              </div>
            </div>
          </div>
          
          <div class="col-md-4">
            <div class="product-item">
              <a href="#"><img src="{% static 'assets/images/10.jpeg' %}" style="width: 300px; height: 300px;" alt=""></a>
              <div class="down-content">
                
                          <a href="#"><h4> ceramic wall </h4></a>
                          <br><br><br>
                          <h6>40×25 cm 55LE </h6>
                  
                <ul class="stars">
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                </ul>
                <span>Reviews (21)</span>
                <div>
                  <input type="checkbox" id="scales" name="scales"
                         checked>
                  <label for="scales">select</label>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="product-item">
              <a href="#"><img src="{% static 'assets/images/11.jpeg' %}" style="width: 300px; height: 300px;" alt=""></a>
              <div class="down-content">
                
                          <a href="#"><h4> ceramic flooring  </h4></a>
                          <br><br><br>
                          <h6> 35×35 54LE </h6>
                  
                <ul class="stars">
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                </ul>
                <span>Reviews (21)</span>
                <div>
                  <input type="checkbox" id="scales" name="scales"
                         checked>
                  <label for="scales">select</label>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4" style="top: -180px;">
            <div class="product-item">
              <a href="#"><img src="{% static 'assets/images/11.jpeg' %}" style="width: 300px; height: 300px;" alt=""></a>
              <div class="down-content">
                
                          <a href="#"><h4> ceramic flooring    </h4></a>
                          <br><br><br>
                          <h6> 50×50 61LE </h6>
                  
                <ul class="stars">
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                </ul>
                <span>Reviews (21)</span>
                <div>
                  <input type="checkbox" id="scales" name="scales"
                         checked>
                  <label for="scales">select</label>
                </div>
              </div>
            </div>
          </div>
        
     
        </div>
      </div>
    </div>
    <div class="latest-products">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <h2> carrara stone بلاط</h2>
             
            </div>
          </div>
        
          <div class="col-md-4">
            <div class="product-item">
              <a href="#"><img src="{% static 'assets/images/13.jpeg' %}" style="width: 300px; height: 300px;" alt=""></a>
              <div class="down-content">
         
                          <a href="#"><h4> carrara stone tiles </h4></a>
                          <h6 style="top: 51px;"> 3×3×30  85LE</h6>
           
                          <h6>40×40 140LE</h6>
                <ul class="stars">
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                </ul>
                <span>Reviews (21)</span>
                <div>
                  <input type="checkbox" id="scales" name="scales"
                         checked>
                  <label for="scales">select</label>
                </div>
              </div>
            </div>
          </div>
         
        
     
        </div>
      </div>
    </div>
    <div class="latest-products">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <h2>quadrature رخام</h2>
             
            </div>
          </div>
          <div class="col-md-4">
            <div class="product-item">
              <a href="#"><img src="{% static 'assets/images/12.jpeg' %}" alt=""></a>
              <div class="down-content">
                <a href="#"><h4>quadrature marble 200 </h4></a>
                         
                          <h6>200LE</h6>
                <ul class="stars">
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star "></i></li>
                  <li><i class="fa fa-star"></i></li>
                </ul>
                <span>Reviews (24)</span>
                
                <div>
                  <input type="checkbox" id="scales" name="scales"
                         checked>
                  <label for="scales">select</label>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="product-item">
              <a href="#"><img src="{% static 'assets/images/14.jpeg' %}" style="height: 300px;" alt=""></a>
              <div class="down-content">
                <a href="#"><h4>marble stairs  </h4></a>
                         
                          <h6>150LE</h6>
                <ul class="stars">
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star "></i></li>
                  <li><i class="fa fa-star"></i></li>
                </ul>
                <span>Reviews (24)</span>
                <div>
                  <input type="checkbox" id="scales" name="scales"
                         checked>
                  <label for="scales">select</label>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
          
          </div>
         
        
     
        </div>
      </div>
    </div>
    <div class="latest-products">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <h2>concrete</h2>
             
            </div>
          </div>
          <div class="col-md-4">
            <div class="product-item">
              <a href="#"><img src="{% static 'assets/images/15.jpeg' %}" alt=""></a>
              <div class="down-content">
        
                          <a href="#"><h4> ready mixed concrete</h4></a>
                        
                          <h6> 780LE </h6>
                <ul class="stars">
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star "></i></li>
                  <li><i class="fa fa-star"></i></li>
                </ul>
                <span>Reviews (24)</span>
                <div>
                  <input type="checkbox" id="scales" name="scales"
                         checked>
                  <label for="scales">select</label>
                </div>
              </div>
            </div>
          </div>
    
          
          </div>
         
        
     
        </div>
      </div>
    </div>
    <div class="latest-products">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <h2>sand</h2>
             
            </div>
          </div>
          <div class="col-md-4">
            <div class="product-item">
              <a href="#"><img src="{% static 'assets/images/16.jpeg' %}" alt=""></a>
              <div class="down-content">
        
                          <a href="#"><h4> sand </h4></a>
                        
                          <h6>rough75LE-soft 70LE </h6>
                <ul class="stars">
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star "></i></li>
                  <li><i class="fa fa-star"></i></li>
                </ul>
                <span>Reviews (24)</span>
                <div>
                  <input type="checkbox" id="scales" name="scales"
                         checked>
                  <label for="scales">select</label>
                </div>
              </div>
            </div>
          </div>
    
          
          </div>
         
        
     
        </div>
      </div>
   <a href="../templates/bill.html"> <button style="margin-left: 198px;">submit</button></a>

  {% endblock %}
    
    


